.color-logo
{
    color:#ef4232 !important;
}
.foreground
{
    z-index: 10;
}

.hidden
{
    display: none;
}

.height-navbar
{
    max-height: 100px!important;
}

p
{
    font-size: 0.8rem!important;
}

h1
{
    font-size: 1.7rem
}

h2
{
    font-size: 1.25rem;
}

h3
{
    font-size: 0.9rem;
}


.size-logo
{
    max-width: 70%;
}

.max-width
{
    max-width: 250px;
}

.background
{
    background: #ef4232;
}

.color-text
{
    color: black;
}

a:hover
{
    color: inherit;
}

.border-text
{
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}


.top-image
{
    background-image: url("../images/assets/excavator-modif.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-voirie
{
    background-image: url("../images/assets/bandeau-voirie.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-acces-prive
{
    background-image: url("../images/assets/bandeau-acces-prive.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-revetement-divers
{
    background-image: url("../images/assets/bandeau-revetement-divers.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-espaces-verts
{
    background-image: url("../images/assets/espace-vert2.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-piscine
{
    background-image: url("../images/assets/bandeau-piscine-modif.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-puits
{
    background-image: url("../images/assets/bandeau-puits.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-fosses-sceptiques
{
    background-image: url("../images/assets/bandeau-fosses-sceptiques.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-image-assainissement
{
    background-image: url("../images/assets/bandeau-assainissement.jpg");
    background-size: cover;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.domain-slideshow
{
    background-color: #ef4232;
    border: 1px solid #ef4232;
    width: 100%;
}

.change-domain-btn
{
  -moz-box-shadow:inset 0px 1px 0px 0px #ef4232;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ef4232;
  box-shadow:inset 0px 1px 0px 0px #ef4232;
  text-indent:0;
  border:1px solid #ef4232;
  color:#ef4232;
  font-size:0.8rem;
  font-style:normal;
  height:35px;
  text-decoration:none;
}


.nav-link-referencement.active
{
    color: #ef4232!important;
    border-color: #ef4232!important;
}
.nav-link-referencement
{
    color: #8a8b8d;
}

.title-caroussel
{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 10;
}

@media (min-width: 992px) {

    .visible{
        display: none;
    }
    .hidden{
        display: inherit;
    }

    .max-width
    {
        max-width: 400px;
    }
    .size-logo
    {
        max-width: 95%;
    }

    p
    {
        font-size: 1.25rem!important;
    }

    h1
    {
        font-size: 3.5rem
    }

    h2
    {
        font-size: 2.25rem;
    }

    h3
    {
        font-size: 1.4rem;
    }

    .change-domain-btn
    {
        -moz-box-shadow:inset 0px 1px 0px 0px #ef4232;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ef4232;
        box-shadow:inset 0px 1px 0px 0px #ef4232;
        text-indent:0;
        border:1px solid #ef4232;
        color:#ef4232;
        font-size:1.25rem;
        font-style:normal;
        height:45px;
        text-decoration:none;
    }
}

@media (min-width: 1140px) {

    h1
    {
        font-size: 5rem
    }

    h2
    {
        font-size: 3rem;
    }

    h3
    {
        font-size: 1.75rem;
    }
}