@charset "utf-8";
body {
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:url(../images/bg.png) repeat #CCC;
	height:100%;
	padding-top:0px;
}

a {
	text-decoration:none;
	color:#F30;
}
a:hover {
	color:#333;
}

h1 {
	font-size:120%;
	margin:0;
	padding:0;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
h2 { font-size:220%; margin:0; padding:0; }
h3 { font-size:200%; margin:0; padding:0; }
h4 { font-size:180%; margin:0; padding:0; }
h5 { font-size:160%; margin:0; padding:0; }
h6 {
	font-size:140%;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

p { padding-bottom:5px; }

.clear { clear:both }

.main_nav { }

	#main_nav ul { list-style-type:none; height:112px; padding-right:1px; padding-top:70px; text-align:right; }

	#main_nav ul a {
	font-size:14px;
	color:#333;
	display: block;
	line-height: 41px;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:12px;
	padding-right:12px;
}

	#main_nav ul a:hover, #main_nav ul a.active, #main_nav ul a.visited {
	background-color:#F30;
}

	#main_nav li { display:inline-block; margin-left:-1px; margin-right:-1px; }



.main_nav_visited { background-color:#f30; padding-left:12px; padding-right:12px; }



.logo { background:url(../images/logo.png) no-repeat left; height:112px; }

.logo_blur { text-align:left; background:url(../images/logo_blur.png) no-repeat right; height:112px; margin:auto; padding:auto; }

.header { text-align:left; background:url(../images/bg_header.png) repeat-x top; height:112px; margin-left:0px; padding-right:20px; }

.dot_separator { background:url(../images/dot_hr.png) repeat-x top; height:3px; margin-right:20px; }

.dot_separator_items { background:url(../images/dot_hr.png) repeat-x top; height:3px; margin-right:20px; margin-top:20px; }



.slider { text-align:left; height:268px; margin-left:0px; padding-right:20px; }

.gradient { background:url(../images/gradient.png) repeat-x top; margin:auto; padding-right:20px; height:39px; }

.main_content { text-align:left; margin:auto; }

	.main_content_header { color:#166591; margin-right:10px; font-family: 'Rokkitt', serif; }

	.main_content_content { margin-right:10px; }	

	.sub_content_header { color:#007ec4; text-transform:uppercase; margin-right:10px; font-family: 'Rokkitt', serif; margin-top:20px; }

	.sub_content_content { margin-right:10px; margin-bottom:15px; }

	#sub_content_link a { font-size:10px; color:#181818; text-transform:uppercase; text-decoration:none; }

	#sub_content_link a:hover { color:#007ec4; }		



.news_content_header { color:#999999; margin-right:10px; margin-top:10px; font-family: 'Rokkitt', serif; }

	.news_content_content { margin-right:10px; }	

	.news_content_items { font-size:10px; color:#181818; text-transform:uppercase; text-decoration:none; }



.sidebar { text-align:left; margin:0px 20px 0px 18px; background:#f9f9f9; border:1px solid #eaeaea; padding-bottom:20px; -webkit-border-radius:3px; -moz-border-radius:3px; }

	.sidebar_name { color:#333; padding:15px 20px 10px 20px; font-size:14px; text-transform:uppercase; font-family: 'Rokkitt', serif; }

	.sidebar_header { color:#333; padding:0px 20px 0px 20px; font-size:13px; }

	.sidebar_content { color:#555; padding:0px 20px 5px 20px; }

	.sidebar_separator { background:url(../images/dot_hr.png) repeat-x; height:3px; margin:12px 20px 8px 20px; }

	.sidebar_link a { font-size:10px; color:#999999; text-transform:uppercase; text-decoration:none; padding-left:20px; }

	.sidebar_link a:hover { color:#007ec4; }			

.servicebox_l { text-align:left; margin:0px; }

.servicebox_r { text-align:left; margin-right:0px; }



img.thumb { padding:5px; border:solid; border-color:#efefef; border-width:1px; background-color:#fff;  }

img.right { float:right; margin-left:20px; -webkit-border-radius:5px; -moz-border-radius:5px; margin-right:10px; }

img.left { float:left; -webkit-border-radius:5px; -moz-border-radius:5px; margin-right:20px; }



.footer { text-align:left; background:url(../images/bg_footer.png) repeat-x bottom; height:85px; margin-left:0px; padding-right:20px; padding-top:35px; }

	#footer_link a {
	font-size:10px;
	color:#333;
	text-transform:uppercase;
	text-decoration:none;
}

	#footer_link a:hover {
	color:#F30;
}		

.footer_left {
	text-align:left;
	color:#F30;
	font-size:10px;
	vertical-align:bottom;
	padding-top:48px;
	position:absolute;
	padding-left:10px;
}

.footerspace { padding-bottom:30px; }



input,input:hover,input:focus,select,select:hover,select:focus,textarea,textarea:hover,textarea:focus { font-family:'Droid Sans', sans-serif; font-size:13px; color:#2d2d2d; text-decoration:none; }	

input { border:1px; border-color:#dadada; border-style:solid; width:360px; height:18px; padding: 8px; border-radius:3px; }

input:hover, input:focus { border:1px; border-color:#e2e2e2; border-style:solid; width:360px; height:18px; padding: 8px; border-radius:3px; background-color:#efefef; }

select { border:1px; border-color:#dadada; border-style:solid; width:360px; padding: 8px; border-radius:3px; }

select:hover, select:focus { border:1px; border-color:#e2e2e2; border-style:solid; width:360px; padding: 8px; border-radius:3px; background-color:#efefef; }

textarea { border:1px; border-color:#dadada; border-style:solid; width:460px; height:150px; padding: 8px; border-radius:3px; }

textarea:hover, textarea:focus { border:1px; border-color:#e2e2e2; border-style:solid; width:460px; height:150px; padding: 8px; border-radius:3px; background-color:#efefef; }

.buttonform,.buttonform:focus { background: url(../images/button_submit.png) no-repeat; display:block; width:185px; z-index:400; height:55px; border:0px; cursor:pointer; }

.buttonform:hover { background:url(../images/button_submit.png)0px -55px no-repeat; display:block; width:185px; z-index:400; height:55px; border:0px; cursor:pointer; }



#form_response { list-style:none; float:left; margin:-14px 0 0; position: relative; color: #888888; clear:both; }

	.loaderIcon { padding:5px 0; }



/* gallerie */


#poptrox {
	width: 640px;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.1);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 15px;
}

#gallery {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	line-height: normal;
	padding-left: 25px;
	padding-bottom: 20px;
}

#gallery img {
	border-radius: 5px;
	border: 0;
}

#gallery a:hover img {
}

#gallery .nopad {
	padding-left: 0px;
}

#box1 {
	margin-bottom: 20px;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	color: #707070;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.1);
}

.poptrox-popup {
	border-radius: 10px 0px 10px 10px;
	box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
}

.poptrox-popup .closer {
	border-radius: 0px 10px 10px 0px;
}
.arrowlist {
  margin-bottom: 20px;
}
.arrowlist li {
	padding-bottom: 5px;
	padding-left: 20px;
	border-bottom: 1px solid #eee;
	background-image: url(../images/arrow.jpg);
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	list-style-type: none;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	font-size: 12px;
}
/* ---------------------------------- Portfolio ----------------------------------------------*/

#middle .portfolio.five_blocks .post, #middle .portfolio.two_blocks .post, #middle .portfolio.three_blocks .post, #middle .portfolio.four_blocks .post, #middle .portfolio.one_block .post {background:none;}

#middle .portfolio {
	margin-right:-25px;
	padding-left:5px;
}

#middle .portfolio .post {
	padding:0 0 10px;
	margin:0 0 20px;
}

#middle .portfolio.five_blocks .post {margin:0;}

#middle .portfolio .post p {padding:0 0 20px;}

#middle .middle_content .portfolio.one_block .post img.image_shadow {width:590px;}

#middle .middle_content .portfolio.one_block .post {
	width:940px;
	margin-bottom:0;
}

#middle .middle_content .portfolio.one_block .post .one_block_text {
	width:310px;
	float:right;
	padding-bottom:20px;
	position:relative;
	overflow:hidden;
	z-index:3;
}

#middle .middle_content .portfolio.two_blocks .post .one_block_text, #middle .middle_content .portfolio.three_blocks .post .one_block_text, #middle .middle_content .portfolio.four_blocks .post .one_block_text {display:none;}

#middle .middle_content .portfolio.one_block .post .many_cols_text {display:none;}

#middle .middle_content .portfolio.two_blocks .post .many_cols_text h4, #middle .middle_content .portfolio.two_blocks .post .many_cols_text h3 {display:none;}

#middle .middle_content .portfolio.three_blocks .post .many_cols_text h4, #middle .middle_content .portfolio.three_blocks .post .many_cols_text h2 {display:none;}

#middle .middle_content .portfolio.four_blocks .post .many_cols_text h3, #middle .middle_content .portfolio.four_blocks .post .many_cols_text h2 {display:none;}

#middle .middle_content .portfolio.two_blocks .post {
	width:450px;
	float:left;
	padding-right:30px;
}

#middle .middle_content .portfolio.two_blocks .post img.image_shadow {
	width:440px;
	height:210px;
}

#content .portfolio.two_blocks .post {
	width:290px;
	float:left;
	padding-right:30px;
}

#content .portfolio.two_blocks .post img.image_shadow {
	width:280px;
	height:134px;
}

#middle .middle_content .portfolio.three_blocks .post {
	width:290px;
	float:left;
	padding-right:30px;
}

#middle .middle_content .portfolio.three_blocks .post img.image_shadow {
	width:280px;
	height:134px;
}

#content .portfolio.three_blocks .post {
	width:183px;
	float:left;
	padding-right:30px;
}

#content .portfolio.three_blocks .post img.image_shadow {
	width:173px;
	height:82px;
}

#middle .middle_content .portfolio.four_blocks .post {
	width:210px;
	float:left;
	padding-right:30px;
}

#middle .middle_content .portfolio.four_blocks .post img.image_shadow {
	width:200px;
	height:95px;
}

#middle .middle_content .portfolio.five_blocks .post {
	width:162px;
	float:left;
	padding-right:30px;
}

#middle .middle_content .portfolio.five_blocks .post img.image_shadow {
	width:154px;
	height:73px;
}

#middle .portfolio .post a.preloader .image_shadow_container_img {
	border:1px solid #dadada;
	background:#fefefe url(../images/loader_for_light.gif) 50% 50% no-repeat;
	display:block;
	position:relative;
}

#middle .portfolio .post a.preloader .image_shadow_container_img img {border:0;}

#middle .middle_content .portfolio.five_blocks .post a.preloader .image_shadow_container_img {
	width:162px;
	height:81px;
}

#middle .middle_content .portfolio.four_blocks .post a.preloader .image_shadow_container_img {
	width:208px;
	height:103px;
}

#middle .middle_content .portfolio.three_blocks .post a.preloader .image_shadow_container_img {
	width:288px;
	height:142px;
}

#middle .middle_content .portfolio.two_blocks .post a.preloader .image_shadow_container_img {
	width:448px;
	height:218px;
}

#middle .middle_content .portfolio.one_block .post a.preloader .image_shadow_container_img {
	width:598px;
	height:290px;
}

#middle #content .portfolio.three_blocks .post a.preloader .image_shadow_container_img {
	width:181px;
	height:90px;
}

#middle #content .portfolio.two_blocks .post a.preloader .image_shadow_container_img {
	width:288px;
	height:142px;
}

.image_shadow_container img.noimgbg {bottom:0;}

.p_options_block {
	float:right;
	height:55px;
	position:relative;
	font-size:.85em;
	padding:0 5px 20px 0;
	margin-top:-10px;
	z-index:2;
}

.p_options_block a {color:#e6e1a8;}

.p_options_block a:hover {text-decoration:none;}

.p_sort {
	float:left;
	padding:0 10px 0 0;
	position:relative;
}

.p_sort a[name="date"] {
	background:url(../images/button/p_date.png) no-repeat 0 0;
	height:26px;
	width:68px;
	display:block;
	float:left;
    padding:6px 15px 2px 0;
	text-align:right;
}

.p_sort a.sel, .p_sort a.sel2 {
	color:#191919;
	text-shadow:1px 1px 1px #fefefe;
}

.p_sort a.sel[name="date"] {background:url(../images/button/p_date.png) no-repeat 0 -34px;}

.p_sort a.sel2[name="date"] {background:url(../images/button/p_date.png) no-repeat 0 -68px;}

.p_sort a[name="name"] {
	background:url(../images/button/p_name.png) no-repeat 0 0;
	height:26px;
	width:70px;
	display:block;
	float:left;
    padding:6px 0 2px 15px;
	text-align:left;
}

.p_sort a.sel[name="name"] {background:url(../images/button/p_name.png) no-repeat 0 -34px;}

.p_sort a.sel2[name="name"] {background:url(../images/button/p_name.png) no-repeat 0 -68px;}

div.p_filter, .p_filter_container {
	width:168px;
	position:relative;
	z-index:2;
}

div.p_filter {
	float:left;
	padding:0 10px 0 0;
}

a.p_cat_filter {
	background:url(../images/button/p_sort.png) no-repeat 0 0;
	display:block;
	width:150px;
	height:25px;
    padding:6px 0px 2px 15px;
	position:absolute;
	top:0;
	left:0;
}

a.p_cat_filter.hover {
	background:url(../images/button/p_sort.png) no-repeat 0 -32px;
	color:#191919;
	text-shadow:1px 1px 1px #fefefe
}

ul.p_filter {
	list-style:none;
	width:165px;
	height:0;
	overflow:hidden;
	position:absolute;
	top:33px;
	left:0;
	z-index:10;
	background:#212121;
	background:rgba(0, 0, 0, .9);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

ul.p_filter li a {
	color:#fefefe;
    padding:4px 0px 4px 15px;
	height:25px;
	display:block;
	text-align:left;
	width:150px;
	opacity:.6;
	filter:alpha(opacity=60);
}

ul.p_filter li.current a, ul.p_filter li a:hover {
	display:block;
	height:25px;
	opacity:1;
	filter:alpha(opacity=100);
}

.switcher {
	float:left;
	padding:0 10px 0 0;
	position:relative;
}

.p_options_block .switcher a {
	display:block;
	float:left;
    height:27px;
    margin:0 3px 0 0;
    padding:6px 2px 2px 0;
    text-align:center;
    width:33px;
	background:url(../images/button/p_col.png) no-repeat 0 0;
}

#middle .p_options_block .switcher a.current, #middle .p_options_block .switcher a:hover {
	background:url(../images/button/p_col.png) no-repeat 0 -34px;
	color:#191919;
	text-shadow:1px 1px 1px #fefefe;
}

#home .p_options_block p {padding:0 0 5px 10px;}

#home .p_options_block .switcher p {padding:0 0 5px 5px;}

.p_date {display:none;}

.portfolio.two_blocks .post p, .portfolio.two_blocks .post h2 {width:450px;}

.portfolio.three_blocks .post p, .portfolio.three_blocks .post h3 {width:290px;}

.portfolio.four_blocks .post p, .portfolio.four_blocks .post h4 {width:210px;}

#middle .sidebar_bg .portfolio.two_blocks .post p, #middle .sidebar_bg .portfolio.two_blocks .post h3 {width:290px;}

#middle .sidebar_bg .portfolio.three_blocks .post p, #middle .sidebar_bg .portfolio.three_blocks .post h4 {width:183px;}

h2.posttitle a, h4.posttitle a {color:#e6e1a8;}

#middle .middle_content .portfolio .one_block_text h2 {padding:0 0 20px;}

.portfolio .post, .portfolio .post img {z-index:1;}
