.color-logo
{
    color:#ef4232 !important;
}
.burgerPlan
{
    z-index: 10;
}

.hidden
{
    display: none;
}

.height-navbar
{
    max-height: 100px!important;
}

.text-size
{
    font-size: 0.8rem!important;
}

.size-logo
{
    max-width: 70%;
}

.max-width
{
    max-width: 200px;
}

.background
{
    background: #ef4232;
}

.color-text
{
    color: black;
}

a:hover
{
    color: inherit;
}

@media (min-width: 992px) {

    .visible{
        display: none;
    }
    .hidden{
        display: inherit;
    }

    .max-width
    {
        max-width: 400px;
    }
    .size-logo
    {
        max-width: 95%;
    }
}